body {
    background: #f5f5f5;
}

.results-container {
    max-width: 1200px;
    margin: 0 auto;
}

.reader-container {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.buttons {
    display: flex;
    justify-content: center;
    column-gap: 15px;
    padding-bottom: 20px;
}

.button {
    padding: 8px 15px;
    border: 1px solid black;
    background: #fff;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 135%;
    border-radius: 8px;
    cursor: pointer;
    transition: .1s;
}

.button:hover {
    background: #efefef;
}
